# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fitness"
PORT=3000

# JWT
JWT_SECRET="super_secret"
JWT_EXPIRATION=1h

# DeepSeek AI
DEEPSEEK_API_KEY="your_api_key"
DEEPSEEK_API_URL=https://api.deepseek.com/v1/chat/completions
DEEPSEEK_MODEL=deepseek-llm
DEEPSEEK_SYSTEM_PROMPT="Você é um assistente virtual de fitness..."

# Infra / Segurança
CORS_ORIGIN="*"

# Observabilidade
OTEL_SERVICE_NAME="fitness-api"
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318"

# Cache
REDIS_URL="redis://localhost:6379"

# Sentry
SENTRY_URL="https://<key>@o<sentry_project>.ingest.sentry.io/<project_id>" 